body {
    background-color: pink;
}

header {
    width: 95%;
    height: 200px;
    display: block;
    margin: 15px auto 30px auto;
    background-color: blueviolet;
    border-radius: 6px;
    box-shadow: 4px 3px rgba(0, 0, 0, 0.6);
}
header h1 {
    display: inline-block;
    width: 100%;
    margin: 60px auto;
    text-align: center;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 38px;
}

main {
    display: block;
    margin: 0 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
main label {
    display: block;
}
.topic {
    width: 80%;
}
.submit {
    display: block;
    background-color: blueviolet;
    color: #fff;
    font-size: 20px;
    padding: 8px 12px;
    margin: 6px auto;
    border-radius: 8px;
}
.submit:hover {
    cursor: pointer;
    background-color: #691db0;
}
.poem {
    text-align: center;
    font-family: cursive;
}

footer p {
    text-align: center;
}
footer a {
    text-decoration: none;;
}