body {
    background-color: pink;
}

header {
    width: 95%;
    height: 200px;
    display: block;
    margin: 15px auto 30px auto;
    background-color: blueviolet;
    border-radius: 6px;
    box-shadow: 4px 3px rgba(0, 0, 0, 0.6);
}
header h1 {
    display: inline-block;
    width: 100%;
    margin: 60px auto;
    text-align: center;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 38px;
}

main {
    display: block;
    margin: 0 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

footer p {
    text-align: center;
}